<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @county.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @county.description %>
</p>

<%= link_to 'Edit', edit_county_path(@county) %> |
<%= link_to 'Back', counties_path %>
